.body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.266),
      rgba(0, 0, 0, 0.241)
    ),
    url("./imgs/resources.jpg");
}
.over {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
  width: 100vw;
  height: 80vh;
  font-family: "SF Pro Text", "Myriad Set Pro", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "SF Pro Icons", "Apple Legacy Icons",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*top*/
.top {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
/* PNGs Social Media */

.socialmedia {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.pngsize {
  margin: 10px;
  height: 20px;
  width: 20px;
}

/*top row*/

.home {
  margin-top: 15px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "SF Pro Icons", "Apple Legacy Icons",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.home-a:hover {
  color: white;
  transition: 0.5s ease-in-out;
}
.home-a {
  text-decoration: none;
  color: rgb(169, 169, 169);
  display: flex;
  flex-direction: row;
}
.aboutme {
  margin-top: 15px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "SF Pro Icons", "Apple Legacy Icons",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.aboutme-a {
  text-decoration: none;
  color: rgb(169, 169, 169);
  display: flex;
  flex-direction: row;
}
.aboutme-a:hover {
  color: white;
  transition: 0.5s ease-in-out;
}
.roadmaps {
  margin-top: 15px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "SF Pro Icons", "Apple Legacy Icons",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.roadmaps-a {
  text-decoration: none;
  color: rgb(169, 169, 169);
  display: flex;
  flex-direction: row;
}
.roadmaps-a:hover {
  color: white;
  transition: 0.5s ease-in-out;
}
.resources {
  margin-top: 15px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "SF Pro Icons", "Apple Legacy Icons",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.resources-a {
  text-decoration: none;
  color: rgb(169, 169, 169);
  display: flex;
  flex-direction: row;
}
.resources-a:hover {
  color: white;
  transition: 0.5s ease-in-out;
}
.registration {
  margin-top: 15px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "SF Pro Icons", "Apple Legacy Icons",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.registation-a {
  text-decoration: none;
  color: rgb(169, 169, 169);
  display: flex;
  flex-direction: row;
}
.registation-a:hover {
  color: white;
  transition: 0.5s ease-in-out;
}

/* TEST */

.test2 {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
}

.test2::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: white;
  display: block;
  transition: 0.5s ease-in-out;
}
.test2:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
}
/*Test Was succccsessssfullllllll*/

/* ADDITIONALL SEEARCH ENGINE */

.searchengineme {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.searchengine {
  border: none;
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 25px;
  border-radius: 20px;
}

.headertop {
  justify-content: center;
  display: flex;
  flex-direction: row;
  color: black;
  height: 50px;
  margin-left: 11%;
  width: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.p1 {
  margin: 20px;
}
.header:hover {
  cursor: pointer;
}

.p2 {
  margin: 20px;
  color: rgb(155, 155, 155);
}
.p3 {
  margin: 20px;
  color: rgb(148, 148, 148);
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 40px;
}
